* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background-image: url(BGPOLL.webp);
  background-size: cover;
  background-position: center;
  overflow: scroll;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}
/*DESCENT SELECTOR(JO GAP H)*/
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0%;
  background: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover:after {
  width: 100%;
}
/*
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid brown;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: brown;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

#poll-form{
  color: #fff;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}*/

#poll-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#question-container,
#poll-form {
  margin-bottom: 20px;
}

#results-container{
  margin-top: 10px;
}

#poll-question{
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  background-color: rgb(16,36,71);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(16,36,71);
}

textarea,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.option {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.option {
  margin-bottom: 10px;
}

#results-chart {
  width: 100%;
  /* height: 300px; */
}
